<nav class="navbar navbar-dark bg-dark" style="margin: 0px">
  <a class="navbar-brand" routerLink="/" style="margin-left: 20px">Home</a>

  <div>
    <button
      routerLink="/home"
      routerLinkActive="active"
      class="btn btn-outline-light"
    >
      Home
    </button>
    &nbsp;
    <button
      routerLink="/products"
      routerLinkActive="active"
      class="btn btn-outline-light"
    >
      Products
    </button>
    &nbsp;
    <button
      routerLink="/blablabla"
      routerLinkActive="active"
      class="btn btn-outline-light"
    >
      Error
    </button>
    &nbsp;
  </div>
</nav>

<router-outlet></router-outlet>
